.bodyHeight{
    min-height: 81vh;
}

.modal-body {
    display: flex !important;
    justify-content: space-around;
}

.modal-icon {
    cursor: pointer;
    transition: all .3s;
}

.modal-icon:hover {
    opacity: .7;
}

.modal-icon p{
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: bold;
}

.form-card {
    width: 100% !important;
    max-width: 600px !important;
    background-color: black !important;
    color: white !important;
}

.form-card label {
    color: white !important;
}